@font-face{
	font-family: 'fonts-nino';
	src: url(../fonts/bpgninomtavruliwebfont.ttf);
	src: url(../fonts/bpgninomtavruliwebfont.eot);
	src: url(../fonts/bpgninomtavruliwebfont.svg);
	src: url(../fonts/bpgninomtavruliwebfont.woff);
	src: url(../fonts/bpgninomtavruliwebfont.woff2);
}