.ul1{
	font-size: 80px;
	color: red;
	/*background-color: red;*/
	display: inline;
}
.hello{
	/*height: 200px;*/
	width: 550px;
}
.li1{
	/*margin: 10px auto auto 50px;*/
}
body{
	margin: auto auto auto 50px;
}
.span1{
	display: inline;
	background-color: red;
}
.span3{
	display: inline;
	width: 700px;
	background-color: red;
	font-size: 50px;
	margin-top: 50px;
}
.facebook{
	/*width: 100px;*/
	height: 100px;
	display: inline-block;
	margin-right: 30px;
	margin-left: 30px;
}
.insta{
	/*width: 100px;*/
	height: 100px;
	display: inline-block;
	margin-left: 30px;
	margin-right: 30px;

}
.youtube{
	/*width: 100px;*/
	height: 100px;
	display: inline-block;
	margin-left: 50px;
}
.footer{
	display: inline;
}
.one{
	display: inline;
}